body {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-direction: column;
    background-color: antiquewhite;
    margin-top: 100px;
}

.class {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contents {
    justify-content: center;
    margin-left: 200px;
}

#text {
    border: none;
    border-bottom: 2px;
    border-radius: 30px;
}